@use 'variables';
@use 'mixins';

.header{
	@include mixins.default-grid;
    position: relative;
	padding: 2.35rem 7.1% 1.25rem;

    @include mixins.medium-screen{
		grid-template-columns: minmax(0,0.35fr) minmax(0,1fr);
	}

	&__link{
		color: var(--dark-blue);
	}

	&__heading{
		font-size: 2rem;
		font-weight: bold;
		color: var(--dark-blue);
		grid-row: 1/2;
		justify-self: left;
	}
}

.toggle{
	color: var(--dark-blue);
	font-size: 2.25rem;
	height: 2.25rem;
	width: 2.25rem;
	justify-self: right;
	z-index: 3;
	border-radius: 0.2rem;
	padding: 0;
	background: none;
	border: none;
	cursor: pointer;
	grid-row: 1/2;

	@include mixins.medium-screen{
		display: none;
	}

	&__checkbox{
		opacity: 0;
		position: absolute;
		cursor: none;
		right: 3.4rem;
		top: 2.7rem;
        transform: scale(2);

		@include mixins.medium-screen{
			display: none;
		}
	}
}

.menu{
	position: fixed;
	width: 300px;
	height: 100%;
	right: -100%;
	transition: .3s all ease-in;
	top: 0;
	z-index: 2;
	background: whitesmoke;
	@include mixins.default-grid;

	@include mixins.medium-screen{
		position: unset;
		width: unset;
		opacity: unset;
		right: unset;
		top: unset;
		height: unset;
		padding: unset;
		transition: unset;
		visibility: unset;
	}

	&__list{
		margin-top: 8.9rem;
		@include mixins.default-grid;
		grid-auto-rows: 3.25rem;
		justify-content: right;
		font-size: 1.5rem;

		@include mixins.medium-screen{
			display: flex;
			margin-top: unset;
			font-size: unset;
			align-items: center;
            justify-content: space-between;
            overflow: hidden;
            width: 100%;
            max-width: 50rem;
            margin-left: auto;
		}
	}

	&__link{
		color: var(--light-blue);
		font-weight: bold;
		text-transform: uppercase;
        transition: color 200ms ease-in-out;

		&:hover{
			color: var(--dark-blue);
		}
	}

	&_open{
		background: white;
		width: 23rem;
		opacity: 1;
		visibility: unset;
		right: 0;
	}

	&__item{
		display: flex;
		justify-content: right;
		padding-right: 3rem;

		@include mixins.medium-screen{
			display: unset;
			justify-content: unset;
			padding-right: unset;
		}
		
	}
}