@use 'variables';
@use 'mixins';

.header{
	@include mixins.default-grid;
    grid-template-columns: minmax(0,1fr) minmax(0,0.1fr);
	position: relative;
	padding: 2.35rem 7.1% 1.25rem;

    @include mixins.medium-screen{
		grid-template-columns: minmax(0,0.35fr) minmax(0,1fr);
	}

	&__link{
		color: var(--dark-blue);
	}

	&__heading{
		font-size: 2rem;
		font-weight: bold;
		color: var(--dark-blue);
	}
}

.toggle{
	display: flex;
	flex-direction: column;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
	position: relative;
	z-index: 4;
    place-self: center right;

	@include mixins.medium-screen{
		display: none;
	}

	&__checkbox{
		opacity: 0;
		position: absolute;
		cursor: none;
		right: 3.4rem;
		top: 2.7rem;
        transform: scale(2);

		@include mixins.medium-screen{
			display: none;
		}
	}
}

.menu{
	position: absolute;
	visibility: hidden;
	width: 0rem;
	opacity: 0;
	right: 0;
	top: 0;
	height: 100vh;
	@include mixins.default-grid;
	padding: 4rem 0 0 3.7rem;
	transition: width 200ms ease-in-out;
	z-index: 3;
	overflow-x: hidden;

	@include mixins.medium-screen{
		@include mixins.default-grid;
		position: unset;
		width: unset;
		opacity: unset;
		right: unset;
		top: unset;
		height: unset;
		padding: unset;
		transition: unset;
		visibility: unset;
	}

	&__list{
		@include mixins.medium-screen{
			display: flex;
			align-items: center;
            justify-content: space-between;
            overflow: hidden;
            width: 100%;
            max-width: 50rem;
            margin-left: auto;
		}
	}

	&__link{
		color: var(--light-blue);
		font-weight: bold;
		text-transform: uppercase;
        transition: color 200ms ease-in-out;

		&:hover{
			color: var(--dark-blue);
		}
	}

	&_open{
		background: white;
		width: 20.6rem;
		opacity: 1;
		visibility: unset;
	}

	&__item{

		&_open{
			margin-top: 3rem;
			text-align: left;
		}

	}
}