@use 'variables';
@use 'mixins';

.hero{
	@include mixins.default-grid;
	padding: 0 2rem;
	margin-top: 1rem;
	// background: var(--light-blue);
	color: var(--dark-blue);

	&__image-slot{
		@include mixins.image-slot;
		padding-bottom: 21%;
		width: 14rem;
		place-self: center center;
		margin-bottom: 1.5rem;
	}

	&__image{
		@include mixins.default-img;
		width: 18rem;
		justify-self: center;
		border-radius: 0.7rem;
		margin: 4rem 0 2rem;
		box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
	}

	&__heading{
		text-align: center;
		font-size: 3rem;
		margin-bottom: 1.5rem;
		font-weight: bold;
	}

	&__text{
		line-height: 1.5;
		font-size: 1.5rem;
		text-align: center;
		margin-bottom: 3.35rem;
		font-weight: bold;
	}

	&__link{
		// color: var(--emory-blue);
		font-weight: bold;
	}
}