@use 'variables';
@use 'mixins';

.projects{
	@include mixins.default-grid;
	margin-bottom: 5rem;
	overflow: hidden;
	padding: 1.4rem 0 2.85rem;

	@include mixins.medium-screen{
		grid-template-columns: 1fr minmax(0,80rem) 1fr;
	}

	&__heading{
		text-align: center;
		text-transform: uppercase;
		line-height: 1.1;
		color: white;
		width: 94%;
		justify-self: center;
		position: relative;
		padding: 1.5rem;
		font-size: 1.85rem;
		margin-bottom: 1rem;

		&:before{
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			background: var(--dark-blue);
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		&:after{
			content: "";
			position: absolute;
			right: -1rem;
			top: -1rem;
			background: var(--light-blue);
			width: 100%;
			height: 100%;
			z-index: -2;
		}

		@include mixins.landscape{
			font-size: 2.75rem;
			text-align: right;
			padding-right: 5rem;
		}

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
		
	}

	&__card-display{
		@include mixins.default-grid;
		padding: 2rem 3%;
		grid-column-gap: 3%;
		grid-row-gap: 7rem;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(21.35rem, 0.4fr));

		@include mixins.medium-screen{
			grid-column: 2/3;
		}
	}

	&__card{
		@include mixins.image-slot;
		padding-bottom: 100%;
		background: #edf4f7;

		&:before{
			content: "";
			position: absolute;
			bottom: -1.25rem;
			border-bottom: dashed 3px var(--dark-blue);
			width: 100%;
			cursor: default;
		}

		&:after{
			content: "";
			position: absolute;
			bottom: -4.25rem;
			width: 100%;
			height: 2.15rem;
			background: var(--dark-blue);
			cursor: default;
		}
	}

	&__link-row{
		position: absolute;
		bottom: 1rem;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
	}

	&__link{
		background-color: var(--light-blue);
		padding: 10px;
		color:white;
		font-weight:bold;
		border-radius: 0.7rem;
		transition: all 200ms ease-in-out;

		&:hover{
			background: var(--dark-blue);
		}
	}

	&__subheading{
		display: block;
		font-weight: bold;
		font-size: 1.8rem;
		line-height: 1.1;
		text-align: center;
		margin-top: 1rem;
		color: var(--dark-blue);

		@include mixins.wide-screen{
			margin-top: 1.5rem;
		}
	}

	&__caption{
		margin-top: 1rem;
		font-size: 1.1rem;
		padding: 0 1.5rem;
		line-height: 1.5;
	}
}